:root {
    --color-light: hsl(0, 0%, 98%);
    --color-medium: hsl(0, 0%, 41%);
    --color-dark:  hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    background-color: var(--color-light);
}

.main-nav-bar {
    display: flex;
    background-color: var(--color-light);
    height: 75px;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    font-size: 18px;
}

.main-nav-bar .left-section {
    display: flex;
    align-items: center;
    gap: 50px;
}

.main-nav-bar .right-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 2%;
}

.dropdown-button {
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-medium);
    font-family: "Epilogue", sans-serif;
}

.arrow {
    background-image: url(images/icon-arrow-down.svg);
    width: 12px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 150ms ease-in-out;
}



.nav-link {
    text-decoration: none;
    color: var(--color-medium);
}

.dropdown-button:hover, .nav-link:hover {
    color: var(--color-dark);
}

.register-button {
    cursor: pointer;
    text-align: center;
    width: 7rem;
    padding: 1em 1.5em;
    border-radius: 1em;
    border: 2px solid var(--color-dark);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: "Epilogue", sans-serif;
}

.register-button:hover, .register-button:active {
    background-color: var(--color-light);
    color: var(--color-dark);
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    left: 0px;
    top: calc(100% + 1rem);
    width: fit-content;
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .dropdown-button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}


.dropdown.active > .dropdown-button .arrow{
    transform: rotate(180deg);
}
.dropdown-item-container {
    /* padding: 10px; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-item {
    text-decoration: none;
    padding: 10px 5px;
    color: var(--color-medium);
}

.dropdown-item:hover {
    color: var(--color-dark);
}

.container {
    margin: 0 auto;
    display: flex;
    align-self: center;
    width: 90%;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    gap: 5%;

}

.content {
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 40px;
    padding-top: 10%;
}

.content h1 {
    font-size: 80px;
    font-weight: 700;
}

.content p {
    font-size: 18px;
    font-weight: 500;
    margin-right: 55%;
    line-height: 1.5;
    color: var(--color-medium);
}

.learn-more {
    cursor: pointer;
    width: 8rem;
    padding: 1em 1.5em;
    border-radius: 1em;
    border: 2px solid var(--color-dark);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: "Epilogue", sans-serif;
}

.learn-more:hover, .learn-more:active {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.company-images {
    margin-top: 1%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 0;
}
.main-picture {
    width: 40%;
    height: 80vh;
    background-image: url("images/image-hero-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2%;
}

@media(max-width: 375px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        
    }
    .main-picture {
        background-image: url("images/image-hero-mobile.png");
        width: 100%;
        height: 40vh;
    }

    .content {
        width: 100%;
        gap: 20px;

        justify-content: center;
    }
    .content h1 {
        font-size: 30px;
        text-align: center;
    }
    .content p {
        margin: 0;
        font-size: 15px;
        text-align: center;
        padding: 10px 0px;
        padding-top: 0;
    }
    .learn-more {
        align-self: center;
    }
    .company-images {
        gap: 10px;
        justify-content: space-around;
    }
    .company-image {
        width: 70px;
        
    }

}